@import '../../app/theme';

.main-menu-block {
  font-family: 'Roboto', sans-serif;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;

  .main-menu {
    margin: 0 10px;
    padding: 10px;
    background: $form-background;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    min-width: 300px;
    flex: 1 1 200px;

    .word {
      flex: 2 1 200px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-weight: bold;
      font-size: 25px;
      color: #2d2d2d;
      padding: 10px;

      @media only screen and (max-width: 479px) {
        text-align: center;
      }
    }
    .rounds {
      flex: 1 1 200px;
      text-align: right;
    }
    .menu {
      flex: 1 1 400px;
      display: flex;
      margin: 10px -10px -10px -10px;
      justify-content: space-between;

      .menu-item {
        padding: 4px;
        flex: 1 1 200px;
        text-align: center;
        border-top: 1px solid $color5;
        border-left: 1px solid $color5;
        cursor: pointer;
        color: $color1;
        text-decoration: none;
        display: flex;

        > * {
          margin: auto;
        }

        &:hover,
        &:focus,
        &:active {
          background: $color5;
        }

        &:first-child {
          border-left: none;
        }
      }
    }
  }
}
