.associations {
  .list {
    .list-item {
      cursor: pointer;

      div {
        position: relative;
        width: 100%;
        vertical-align: middle;
        display: flex;

        span {
          display: flex;
          justify-content: center;
          flex-direction: column;
        }

        .deleted {
          font-size: 8px;
          text-transform: uppercase;
          font-weight: bolder;
          margin-right: 5px;
          vertical-align: middle;
          max-width: 40px;
          min-width: 40px;
        }
      }
    }
  }
}
