
.associations {

  .list {
    .list-item {
      cursor: pointer;

      div {
        position: relative;
        display: inline-block;
        .deleted {
          font-size: 8px;
          text-transform: uppercase;
          font-weight: bolder;
          position: absolute;
          margin-left: 5px;
          width: 100%;
        }
      }
    }
  }
}