@import '../../app/theme';

.qr-code {
  background: white;
  min-width: 300px;
  min-height: 300px;
  padding: 0;

  .copied {
    position: absolute;
    width: 300px;
    height: 300px;
    background: #ffffffd9;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }

  .url {
    text-align: center;
    max-width: 300px;
    padding: 0 10px;
    word-break: break-word;
    font-weight: bold;
    color: $color1;
  }
}
