@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import "theme";

body,
html {
  height: 100%;
  background: $body-background;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}

.take-a-hint {

}

